# Dependecies
node_modules

# Build
dist
build
.next
out

# Typescript cache
*.tsbuildinfo

# Logs
logs
*.log

# Tests
coverage

# IDE
.vscode

# Security
.env
.env.*
next-env.d.ts
.DS_Store
*.pem

# Temp directory
.temp
.tmp

# Monorepo
.turbo

# Debug
yarn-debug.log*
yarn-error.log*
